.movie-card-container {
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); // Responsive grid
  gap: 20px;
  max-width: 60vw;
}

.movie-card {
  display: flex;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  mat-card-title {
    margin-bottom: 10px;
  }

  mat-card-subtitle {
    color: #616161;
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-icon {
      margin-right: 5px;
      color: rgb(125, 0, 250);
      transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        color: black;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 500px) {
  .movie-card-container {
    max-width: 80vw;
    margin: 20px auto;
    gap: 30px;
  }
}
