<mat-toolbar *ngIf="isLoggedIn$ | async" color="primary" class="navbar">
  <span class="logo">🐰 Bunbuster</span>

  <span class="spacer"></span>

  <span class="subtitle">Welcome to the Bunnyverse!</span>

  <span class="spacer"></span>

  <nav class="nav-links">
    <button mat-button [routerLink]="'/movies'">Movies</button>
    <button mat-button [routerLink]="'/profile'">Profile</button>
    <button mat-flat-button (click)="logout()">Logout</button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
